/* ALL TOPS PAGE */
.topsTitle{
    margin-top: 120px;
    margin-bottom: 0;
    text-align: center;
    font-size: 3rem;
    font-family: "Shadows Into Light", cursive;
}

.topsProducts{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, auto));
    place-items: center;
    margin: 90px 90px 60px;
}


.productNamePrice {
    text-align: left;
    position: relative;
    bottom: 15px;
    left: 10px;
}

.miniPrice{
    position: relative;
    bottom: 60px;
    text-align: right;
    width: 10%;
    float: right;
    right: 20px;
}

.topsImgs{
    height: 450px;
    width: 350px;
}


.topName a:hover {
    text-decoration: underline;
}

/* INDIVIDUAL TOP PAGE */
.entirePageDiv{
    position: relative;
    top: 100px;
}
.detailDiv{
    display: inline-block;
    padding: 3rem 3rem;
    
}

.individualImage{
    height: 670px;
    width: 470px;
    margin-right: 20px;
    padding-bottom: 400px;
}

.individualNamePriceDiv{
    position: absolute;
    top: 80px;
    right: 35px;
    width: 320px;
}



.name{
    position: relative;
    font-size: 2rem;
}

.addBtn{
    position: relative;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    width: 320px;
    height: 50px;
    transition: 0.2s;
}

.addBtn:hover{
    background-color: #454545;
    transition-duration: 0.2s;

}