.navbar li{
  position: relative;
  display: inline-flex;
  padding: 0 20px 0 20px;
  padding-bottom: 10px;
  left: 50px;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 0;
  background-color: white;
  padding-left: 0;
}

.navLink:hover{
  color: grey;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}



.logo{
  font-size: 3rem;
  margin-bottom: 0;
  color: black;
  text-decoration: none;
}

.shoppingBagIcon{
  position: relative;
  top: 5px;
}

hr.horizontalLine{
  border-top: 1px solid black;
  width: 100%;
  margin-bottom: 0;
  border-bottom-width: 0;
}





section{
  position: relative;
  height: 100vh;
  width: 100vh;
  padding: 0 0 10px ;
  left: 16.5%;
}

.footer{
  position: relative;
  background-color: #F3EEEA;
  height: 150px;
  bottom: 0;
  text-align: center;
}

.footerCopyright{
  position: relative;
  top: 40px;
}

.icons{
  position: relative;
  padding: 10px;
  font-size: 1.3rem;
  top: 30px;
  display: inline;
}


.homeImgs{
  height: 650px;
  width: 950px;
  margin-top: 130px;
}



.shopTopTxtDiv{
  position: absolute;
  font-size: 6rem;
  color: white;
  top: 2%;
  left: 1%;
  text-align: center;
  line-height: 8rem;
  font-family: "Shadows Into Light", cursive;

}

.topTxt{
  width: 80%;
  height: 100%;
}


.shopDressesTxt{
  position: absolute;
  font-size: 6rem;
  color: white;
  top: 5%;
  left: 56%;
  text-align: center;
  line-height: 6rem;
  font-family: "Shadows Into Light", cursive;

}


.allDresses{
  margin-top: 300px;
}





